In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

In [ ]:
speeds

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

In [ ]:
grouped = df.groupby("A")
for key, item in grouped:
    print(grouped.get_group(key))
    print(key)

In [ ]:
grouped = df.groupby("A")
grouped

In [ ]:
grouped = df.groupby("A")
grouped
grouped.apply(display)

In [ ]:
df2 = df.set_index(["A", "B"])
df2

In [ ]:
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.collections import PolyCollection

print(dt.datetime(2018, 7, 17, 0, 15))

data = [    (dt.datetime(2018, 7, 17, 0, 15), dt.datetime(2018, 7, 17, 0, 30), 'sleep'),
            (dt.datetime(2018, 7, 17, 0, 30), dt.datetime(2018, 7, 17, 0, 45), 'eat'),
            (dt.datetime(2018, 7, 17, 0, 45), dt.datetime(2018, 7, 17, 1, 0), 'work'),
            (dt.datetime(2018, 7, 17, 1, 0), dt.datetime(2018, 7, 17, 1, 30), 'sleep'),
            (dt.datetime(2018, 7, 17, 1, 15), dt.datetime(2018, 7, 17, 1, 30), 'eat'), 
            (dt.datetime(2018, 7, 17, 1, 30), dt.datetime(2018, 7, 17, 1, 45), 'work')
        ]

mdates.date2num(dt.datetime(2018, 7, 17, 0, 15))

a = mdates.date2num(dt.datetime(2018, 7, 17, 0, 15)) + 0.5

print(mdates.num2date(a))

In [ ]:
import datetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.collections import PolyCollection

a = 19494.82361111111 + 53/60/24
print(mdates.num2date(a))

In [ ]:
import os

dir_path = '/Users/qingjie/Library/Application Support/Radar/Downloads/Problem/107771556/Final_0607_PWYS_SMT_P1_Coex_offline_daily_report/SMT_All'

with os.scandir(dir_path) as it:
    for entry in it:
        if entry.is_dir():
            print(entry.name, entry.path)

In [ ]:
import os, glob
import re
import pandas as pd
import numpy as np

dir_path = input("drag the folder: ")
print(dir_path)

In [100]:
import os, glob
import re
import pandas as pd
import numpy as np

dir_path = '/Users/qingjie/Library/Application Support/Radar/Downloads/Problem/107771556/Final_0607_PWYS_SMT_P1_Coex_offline_daily_report/SMT_All'

to_be_combined_csv_path = []

# with os.scandir(dir_path) as dir1:
#     for entry1 in dir1:
#         if entry1.is_dir():
#             with os.scandir(entry1) as dir2:
#                 for entry2 in dir2:
#                     if entry2.name[0].isdigit() & entry2.name.endswith(".csv") :
#                         to_be_combined_csv_path.append(entry2.path)

# find all resut csv in a ceratin foler and its sub folder
to_be_find_path = dir_path + "/**/[0-9]*.csv"
for f in glob.glob(to_be_find_path, recursive=True):
    to_be_combined_csv_path.append(f)

# The first file set as base to be merged with others
# read only certain columns we want
wanted_columns = []
for i in range (0,28,1):
    wanted_columns.append(i)

# The scond row as header, header = 1
df_csv_1 = pd.read_csv(to_be_combined_csv_path[0], header=1, usecols = wanted_columns)
df_csv_1

,Serial Number,Test Pass/Fail Status,List of Failing Tests,Error Description,Test Start Time,Test Stop Time,serial_number,mlb_serial_number,product,build,...,BUILD_STAGE,BUILD_SUBSTAGE,SITE,LOCATION,LINE_NUMBER,STATION_NUMBER,STATION_TYPE,STATION_ID,ATL_WF_FW,ATL_WF_MREV
0,Upper Limits----->,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lower Limits----->,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Apple Pass Upper Limits----->,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apple Pass Lower Limits----->,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Measurement Unit----->,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,C02GVL0000500003MR,Pass,NaN,NaN,2023/06/02 14:18,2023/06/02 18:03,C02GVL0000500003MR,C02GVL0000500003MR,J604,NaN,...,PROTO,NaN,QSMC,F4-2FT,I14/J604,2.0,SMT-COEX1,QSMC_F4-2FT-I14_2_SMT-COEX1,mfgtest_C0_23_10_651.bin,4.7 V=u